html {
  font-size: 10px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1 {
  text-decoration: underline;
}
h2 {
  display: inline-block;
  white-space: nowrap;
}
header {
  border-bottom: 0.5rem solid #0068a1;
}
span {
  color: #4285f4;
}
table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}
td,
th {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #000;
}
th {
  background: #0068a1;
  color: #fff;
}
.align-left {
  text-align: left;
}
.wrapper {
  max-width: 144.4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 3rem);
  padding: 1.5rem;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vessel-detail-container {
  padding: 2rem 0 1rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}
.vessel-detail {
  display: flex;
  gap: 2rem;
}
.vessel-detail div:first-child {
  width: 5rem;
  font-weight: 700;
}
.head {
  display: flex;
  align-items: baseline;
}
.head-detail {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 1rem;
  width: 100%;
  gap: 2rem;
}
.row-tables {
  font-size: 0.8rem;
  display: flex;
  gap: 1rem;
}
.row-tables div {
  flex-grow: 1;
}
.results {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.total {
  flex-grow: 1;
}
.total-last {
  border: 0;
  border-bottom: 1px solid;
  padding-top: 4rem;
}
.total td:first-child {
  text-align: left;
}
.profit {
  padding-top: 2rem;
  justify-self: end;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3rem;
}
@media print {
  html {
    font-size: 0.6rem;
  }
  td,
  th {
    padding: 0.4rem;
  }
  .wrapper {
    padding: 0;
    margin: 0;
  }
  .vessel-detail-container {
    padding: 2rem 0;
    flex-direction: row;
    font-size: 1.6rem;
  }
  .vessel-detail:first-child {
    padding-left: 0;
  }
  .vessel-detail {
    padding-left: 2rem;
  }
  .row-tables div {
    flex-basis: calc(50% - 0.5rem);
  }
}
