@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

body {
  width: 80%;
  margin: 30px auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
